@media only screen and (max-width: 575px){
    .contenedor{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 10px;  
    }

    .seccion-1,
    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        width:auto;
        height: auto;
        background: rgb(236, 236, 236);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px        -3px,  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        box-shadow:  0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 0;
    }

    .imagenmia{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 200px;
        margin-top: 10px;
    }

    .titulo-ignacio,
    .titulo-maquetador,
    .titulo-contacto,
    .titulo-skil,
    .titulo-extra,
    .titulo-resumen,
    .titulo-academico,
    .titulo-action{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 204, 71);
        font-size: 1.5rem;
    }

    /*SECCION CARDS*/

    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagen-mail,
    .imagen-linkedin,
    .imagen-git,
    .imagen-ubi,
    .imagen-html,
    .imagen-css,
    .imagen-notion,
    .imagen-xamp,
    .imagen-windows
    {
        width: 5%;
        height: auto;
        margin: 0 10%;
    }

    .imagen-facu,
    .imagen-cole{
        width: 5%;
        height: auto;
        margin: 0 3%;
    }

    .lista{
        list-style: none;
        display: flex;
        flex-direction: column;
    } 

    hr{
        display: none;
    }

    .buttonDownload{
        display: none;
    }
}