/* CAMBIOS GENERALES DE LAS IMAGENES / ALINEADAS CON SU TITULO */
.imagen-mail,
.imagen-linkedin,
.imagen-git,
.imagen-ubi,
.imagen-html,
.imagen-css,
.imagen-notion,
.imagen-xamp,
.imagen-windows,
.imagen-facu,
.imagen-cole{
    position: relative;
    bottom: -28px;
}


/* TAMAÑO GENERALES DE IMAGENES */
.imagen-mail,
.imagen-linkedin,
.imagen-git,
.imagen-ubi,
.imagen-html,
.imagen-css,
.imagen-notion,
.imagen-xamp,
.imagen-windows{
    width: 7%;
}

.imagen-facu,
.imagen-cole{
    width: 3%;
    justify-content: space-around;
    display: flex;
    margin: 0 28%;
}

/* FOTO MIA PRINCIPAL */
.imagenmia{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 200px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}