/* CAMBIOS GENERALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* COLOR DE FONDO DEL BODY */
body{
    background-color: rgb(0, 58, 70);
}

/* GRID CSS - HECHO CON AREAS*/
.contenedor{
    width: auto;
    height: 100vh;
    margin: 20px;
    display: grid;
    grid-template-columns: 30% repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "s1 sr"
    "sc se"
    "ss sa"
    "set sa"
    "bd bd";
    color: rgb(0, 58, 70);
}

/* SECCION IZQUIERDA - COLOR AMARILLO */
.seccion-1{
    grid-area: s1;
}

.seccion-contacto{
    grid-area: sc;
}

.seccion-skill{
    grid-area: ss;
}

.seccion-extra{
    grid-area: set;
}

/* CAMBIOS GENERALES DE LOS TITULOS */
.titulo-ignacio,
.titulo-maquetador,
.titulo-contacto,
.titulo-skil,
.titulo-extra,
.titulo-resumen,
.titulo-academico,
.titulo-action{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    text-align: center;
}

.titulo-maquetador{
    font-size: 1.3vw;
}

/* ASIGNANDO EL COLOR DE LA SECCION IZQUIERDA */
.seccion-1,
.seccion-contacto,
.seccion-skill,
.seccion-extra{
    padding: 15px;
    background-color: rgb(255, 204, 71);
}

.caja-action{
    margin: 150px;
}

.h5-titu,
.lista,
.h6-titu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}


/*PARTE DERECHA*/

.seccion-resumen{
    grid-area:sr;
    background-color: rgb(235, 235, 235);
}

.seccion-estudios{
    grid-area:se;
    background-color: rgb(235, 235, 235);
}

.seccion-action{
    grid-area:sa;
    background-color: rgb(235, 235, 235);
}

.seccion-descargar{
    grid-area: bd;
    background-color: rgb(211, 211, 211);
}

/* CAMBIOS GENERALES DE LAS IMAGENES / ALINEADAS CON SU TITULO */
.imagen-mail,
.imagen-linkedin,
.imagen-git,
.imagen-ubi,
.imagen-html,
.imagen-css,
.imagen-notion,
.imagen-xamp,
.imagen-windows,
.imagen-facu,
.imagen-cole{
    position: relative;
    bottom: -28px;
}


/* TAMAÑO GENERALES DE IMAGENES */
.imagen-mail,
.imagen-linkedin,
.imagen-git,
.imagen-ubi,
.imagen-html,
.imagen-css,
.imagen-notion,
.imagen-xamp,
.imagen-windows{
    width: 7%;
}

.imagen-facu,
.imagen-cole{
    width: 3%;
    justify-content: space-around;
    display: flex;
    margin: 0 28%;
}

/* FOTO MIA PRINCIPAL */
.imagenmia{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 200px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* LISTA DE SECCION EXTRA */
.lista{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    font-weight: bold;
} 

.texto-resumen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    padding: 40px;
}

.titulo-descargar{
    color: rgb(0, 58, 70);
    margin: 5px;
}

/* HOVER DE LOS LINKS DE: LINKEDIN Y GITHUB */
a:hover{
    color:black;
}

/*MEDIA Q MOBILE*/
@media only screen and (max-width: 575px){
    .contenedor{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 10px;  
    }

    .seccion-1,
    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        width:auto;
        height: auto;
        background: rgb(236, 236, 236);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px        -3px,  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        box-shadow:  0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 0;
    }

    .imagenmia{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 200px;
        margin-top: 10px;
    }

    .titulo-ignacio,
    .titulo-maquetador,
    .titulo-contacto,
    .titulo-skil,
    .titulo-extra,
    .titulo-resumen,
    .titulo-academico,
    .titulo-action{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 204, 71);
        font-size: 1.5rem;
    }

    /*SECCION CARDS*/

    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagen-mail,
    .imagen-linkedin,
    .imagen-git,
    .imagen-ubi,
    .imagen-html,
    .imagen-css,
    .imagen-notion,
    .imagen-xamp,
    .imagen-windows
    {
        width: 5%;
        height: auto;
        margin: 0 10%;
    }

    .imagen-facu,
    .imagen-cole{
        width: 5%;
        height: auto;
        margin: 0 3%;
    }

    .lista{
        list-style: none;
        display: flex;
        flex-direction: column;
    } 

    hr{
        display: none;
    }

    .buttonDownload{
        display: none;
    }
}

/*MEDIA Q TABLETS*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 10px;  
    }
    .seccion-1,
    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        width: auto;
        height: auto;
        background: rgb(236, 236, 236);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px        -3px,  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        box-shadow:  0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 0;
    }

    .imagenmia{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 200px;
        margin-top: 10px;
    }

    .titulo-ignacio,
    .titulo-maquetador,
    .titulo-contacto,
    .titulo-skil,
    .titulo-extra,
    .titulo-resumen,
    .titulo-academico,
    .titulo-action{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 204, 71);
        font-size: 1.5rem;
    }

    /*SECCION CARDS*/

    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagen-mail,
    .imagen-linkedin,
    .imagen-git,
    .imagen-ubi,
    .imagen-html,
    .imagen-css,
    .imagen-notion,
    .imagen-xamp,
    .imagen-windows{
        width: 5%;
        height: auto;
        margin: 0 10%;
    }

    .imagen-facu,
    .imagen-cole{
        width: 5%;
        height: auto;
        margin: 0 4%;
    }

    .lista{
        list-style: none;
        display: flex;
        flex-direction: column;
    } 

    hr{
        display: none;
    }
}

/* MEDIA Q ESCRITORIO CHICO*/
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .contenedor{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 10px;  
    }
    
    .seccion-1,
    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        width: auto;
        height: auto;
        background: rgb(236, 236, 236);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px        -3px,  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        box-shadow:  0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 0;
    }

    .imagenmia{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 200px;
        margin-top: 10px;
    }

    .titulo-ignacio,
    .titulo-maquetador,
    .titulo-contacto,
    .titulo-skil,
    .titulo-extra,
    .titulo-resumen,
    .titulo-academico,
    .titulo-action{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 204, 71);
        font-size: 1.5rem;
    }

    /*SECCION CARDS*/

    .seccion-contacto,
    .seccion-skill,
    .seccion-extra,
    .seccion-resumen,
    .seccion-estudios,
    .seccion-action{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagen-mail,
    .imagen-linkedin,
    .imagen-git,
    .imagen-ubi,
    .imagen-html,
    .imagen-css,
    .imagen-notion,
    .imagen-xamp,
    .imagen-windows,
    .imagen-facu,
    .imagen-cole{
        width: 5%;
        height: auto;
        margin: 0 10%;
    }

    .lista{
        list-style: none;
        display: flex;
        flex-direction: column;
    } 

    hr{
        display: none;
    }
}

/*BOTON DE SI/NO*/
.rocker{
    display: flex;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
}
  
.rocker-small{
    font-size: 0.75em;
    margin: 0 auto;
}
  
.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
}
  
.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
}
  
.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}
  
.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
}
  
.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}
  
.switch-left::before {
    left: -0.4em;
}
  
.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}
  
input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}
  
input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}
  
input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}
  
input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
}

input:focus + .switch-left {
    color: #333;
}
  
input:checked:focus + .switch-left {
    color: #fff;
}
  
input:focus + .switch-left + .switch-right {
    color: #fff;
}
  
input:checked:focus + .switch-left + .switch-right {
    color: #333;
}


/* SECCION DE DESCARGAR CV */
.seccion-descargar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: rgb(255, 204, 71);
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
}
   
.buttonDownload:hover {
    background-color:  rgb(18, 193, 228);
    color: white;
}
   
.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}
   
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}
   
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
}
   
.buttonDownload:hover:before {
    border-color: #cdefbd;
}
   
.buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
}
   
@keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }   
}